article {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}
.container {
  margin: 2rem auto;
}

@media screen and (max-width: 620px) {
 article {
  padding: .3rem;
  text-align: center;
}
.container {
  margin: 1rem auto;
}
}