<div class="grid-parent">
  @for (dest of destacados(); track dest.id) {
  <div class="card">
    <img class="thumb" [src]="dest.img" [alt]="dest.text" />

    <div class="info">
      <span class="id">ID: {{ dest.id }}</span>
      <span class="id">{{ dest.text }}</span>
      @if (!onEdit()) {
      <button class="btn-delete" (click)="deleteDestacado(dest.id)">Eliminar</button>
      } @if (onEdit()) {
      <button class="btn-edit" (click)="getForId(dest.id)">editar</button>
      }
    </div>
  </div>
  }
</div>
