.toggle-password {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 0.6rem;
  top: 30%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 200;
  padding: 0;
}

.eye {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
}

.eye img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  stroke: aqua;
}