.bg-content {
  width: clamp(80%, 20rem + 1vw, 90vw);
  margin: 0 auto;
  backdrop-filter: blur(1px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(100%);
  background-color: var(--color-tertiary-100);
  border-radius: 1rem 0 1rem 0;
  border: 1px solid var(--color-border-100);
  padding: 2rem;
  opacity: 0.8;
  color: var(--color-dark-500);
  font-weight: bold;
}
h1 {
  text-align: center;
}
