<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="form-img">
  <div class="form-container">
    <h2>Iniciar sesión</h2>

    <!-- Usuario o Email -->
    <div class="input-wrap">
      <input
        type="text"
        formControlName="username"
        id="username"
        placeholder=" "
      />
      <label for="identifier">Usuario o Email</label>

      @if (username.invalid && (username.dirty || username.touched)) {
        <p class="error">
          @if (username.errors?.['required']) {
            El usuario o email es obligatorio.
          }
          @if (username.errors?.['minlength']) {
            Mínimo 4 caracteres.
          }
        </p>
      }
    </div>

    <!-- Password -->
    <div class="input-wrap password-wrap">
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        id="password"
        placeholder=" "
      />
      <label for="password">Contraseña</label>

      <button
        type="button"
        class="toggle-password"
        (click)="showPassword = !showPassword"
      >
      boton
        <span class="eye" [class.open]="showPassword"></span>
      </button>

      @if (password.invalid && (password.dirty || password.touched)) {
        <p class="error">
          @if (password.errors?.['required']) {
            La contraseña es obligatoria.
          }
          @if (password.errors?.['minlength']) {
            Mínimo 8 caracteres.
          }
        </p>
      }
    </div>

    <app-btn
      [size]="'large'"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Iniciar sesión
    </app-btn>
  </div>
</form>
