<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <h2>Agregar Blog/Noticia</h2>

    <!-- id provicional  -->
    @if (onEdit()) {
        <div class="input-wrap">
          <h4>ID: {{id.value}}</h4>
        </div>
      }
    <input type="hidden" formControlName="id" id="id" placeholder=" " />

    @if (onEdit()) {
      <small class="hint">El título no puede modificarse</small>
    } @else {
      <small class="hint">ADVERTENCIA: Una vez creado, el titulo no puede modificarse</small>
    }
    <div class="input-wrap">
      <input type="text" formControlName="title" id="title" placeholder=" " />
      <label for="title">Título</label>

      <!-- validaciones -->
      @if (title.invalid && (title.dirty || title.touched)) {
      <p class="error">
        @if (title.errors?.['required']) { El TÍTULO es obligatorio. } @if
        (title.errors?.['minlength']) { Mínimo 8 caracteres. }
      </p>
      }
      @if (title.hasError('duplicated')) {
        <p class="error">Ya existe un blog con ese título</p>
      }
    </div>

    <div class="area-wrap" id="_area">
      <textarea formControlName="resume" id="message" rows="6" cols="2" placeholder=" "></textarea>
      <label for="message">Resumen del contenido</label>
      
      <!-- validaciones -->
      @if (resume.invalid && (resume.dirty || resume.touched)) {
        <p class="error">@if (resume.errors?.['required']) { El resumen es obligatorio. }</p>
      }
    </div>

    <div class="input-wrap">
      <app-image-picker 
        (imageSelected)="onImageSelected($event)"
        [imagePreview]="this.imageBase64()" >
        Seleccionar imagen para BLOG
      </app-image-picker>

      <!-- validaciones -->
      @if (img.invalid && (img.dirty || img.touched)) {
        <p class="error">
          @if (img.errors?.['required']) { La imagen es obligatoria. }
        </p>
      }
    </div>

    <app-editor 
      #editor
      [initialContent]="object() ? object().content : ''"
      (editorQ)="_editorQ.set($event)">
    </app-editor>

    <app-btn [size]="'large'" type="submit" [disabled]="blogForm.invalid">
      {{ onEdit() ? 'Actualizar Blog/Noticia' : 'Subir Nuevo Blog/Noticia' }}
    </app-btn>
  </div>
</form>
