form {
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
  border: 1px solid var(--color-border-200);
  background: var(--color-tertiary-100);
  opacity: 0.8;
  text-align: center;
  position: relative;
  box-shadow: inset 2px 2px 6px var(--color-dark-300), inset -2px -2px 6px var(--color-dark-300);
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  height: fit-content;
}

.input-wrap,
.area-wrap {
  width: 100%;
  min-height: 2rem;
  height: auto;
  position: relative;
  padding-bottom: 1.2rem;
}

.input-wrap input{
  width: 100%;
  height: 2rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 1rem;
  border: 1px solid var(--color-border-200);
  background-color: var(--color-primary-100);
  border-radius: 4px;
  font-size: 1rem;
  opacity: 0.7;
}

.area-wrap textarea {
  width: 100%;
  height: 6rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem;
  border: 1px solid var(--color-border-200);
  background-color: var(--color-primary-100);
  border-radius: 4px;
  font-size: 1rem;
  opacity: 0.7;
}

#_area {
  height: 100%;
  padding: 0;
  margin-bottom: .8rem;
}

#message {
  resize: none;
}

.input-wrap label,
.area-wrap label {
  position: absolute;
  top: 30%;
  left: 1rem;
  font-size: 1rem;
  background-color: transparent;
  padding: 0 0.3rem;
  color: var(--color-dark-300);
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.input-wrap input:focus + label,
.input-wrap input:not(:placeholder-shown) + label,
.area-wrap textarea:focus + label,
.area-wrap textarea:not(:placeholder-shown) + label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.8rem;
  color: var(--color-secondary-700);
}

fieldset {
  width: 60%;
  min-height: 6rem;
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  gap: 0.5rem;
  border: 1px solid #ccc;
}

legend {
  margin: 0 auto;
  padding: 0 2rem;
  text-transform: capitalize;
}

.field-wrap {
  position: relative;
}

fieldset label {
  position: relative;
  margin-top: 0;
  padding: auto;
  display: grid;
  place-items: center;
  width: 7rem;
  height: 3rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type='radio'] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  opacity: 0;
}

input[type='radio']:checked + label {
  background: var(--color-secondary-300);
  border-color: var(--color-secondary-700);
  color: #ffffff;
  text-shadow: 0px 1px 4px var(--color-dark-300);
}

input:focus,
textarea:focus {
  outline: 1px double var(--color-secondary-400);
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
  outline: 2px solid var(--color-primary-900);
  box-shadow: 0 0 4px var(--color-dark-100);
}

.error {
  font-size: 0.8rem;
  color: var(--color-danger);
  margin: 0.2rem 0;
  position: absolute;
  right: 0;
}

input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


@media screen and (max-width: 620px) {
  form {
    width: 95%;
    height: fit-content;
    padding: 0;
  }
}
