.container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
  flex-flow: column nowrap;
  padding: 2rem 3rem;
  margin-top: 4.5rem;
}

app-text-float {
  width: 100%;
}
