.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap-reverse;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
  margin-top: 4.5rem;
}

.div1 {
  width: 30rem;
  display: grid;
  place-items: center;
}

.div2 {
  width: 24rem;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  max-width: 100%;
}
