<section class="container">
  <span class="spacing"></span>
  <h1>opciones de edición</h1>
  <div class="flex">
    <div class="option flex">
      <div class="option-crud">
        <div class="option-img flex">
          <img src="./card.svg" alt="" />
        </div>
        <div class="option-text flex">
          <h3>Destacadas</h3>
          <p>agregar/editar blog y noticias destacadas en la pagina principal</p>
        </div>
      </div>
      <app-btn routerLink="edit-destacados" fragment="outlet">ingresar</app-btn>
    </div>

    <div class="option flex">
      <div class="option-crud">
        <div class="option-img flex">
          <img src="./blog.svg" alt="" />
        </div>
        <div class="option-text flex">
          <h3>Blog y Noticias</h3>
          <p>agregar o editar noticias y blogs</p>
        </div>
      </div>
      <app-btn routerLink="edit-blog" fragment="outlet">ingresar</app-btn>
    </div>

    <div class="option flex">
      <div class="option-crud">
        <div class="option-img flex">
          <img src="./camera.svg" alt="" />
        </div>
        <div class="option-text flex">
          <h3>Fotos de Galeria</h3>
          <p>agregar o eliminar fotos</p>
        </div>
      </div>
      <app-btn routerLink="edit-fotos" fragment="outlet">ingresar</app-btn>
    </div>
  </div>
</section>
<section>
  <router-outlet id="outlet"></router-outlet>
</section>
