<section>
  <span class="spacing"></span>
  <h1>opciones de edición</h1>
  <div class="flex">
    <div class="option flex">
      <div class="option-crud">
        <div class="option-img flex">
          <img src="./card.svg" alt="" />
        </div>
        <div class="option-text flex">
          <h3>destacadas</h3>
          <p>agregar/editar blog y noticias destacadas en la pagina principal</p>
        </div>
      </div>
      <app-btn>ingresar</app-btn>
    </div>

    <div class="option flex">
      <div class="option-crud">
        <div class="option-img flex">
          <img src="./blog.svg" alt="" />
        </div>
        <div class="option-text flex">
          <h3>blog</h3>
          <p>agregar o editar noticias y blogs</p>
        </div>
      </div>
      <app-btn>ingresar</app-btn>
    </div>

    <div class="option flex">
      <div class="option-crud">
        <div class="option-img flex">
          <img src="./camera.svg" alt="" />
        </div>
        <div class="option-text flex">
          <h3>Fotos Galeria</h3>
          <p>agregar o eliminar fotos</p>
        </div>
      </div>
      <app-btn>ingresar</app-btn>
    </div>
  </div>
</section>
