section {
  margin: 2rem auto;
  padding: 1 2rem;
  text-align: center;
}
.option {
  flex-flow: column nowrap;
  flex: 0 0 18rem;
  aspect-ratio: 4/3;
}
.option-crud {
  width: 100%;
  background-color: var(--color-tertiary-100);
  border: 1px solid var(--color-border-100);
  backdrop-filter: blur(1px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(100%);
  color: var(--color-dark-500);
  border-radius: 1rem 0 1rem 0;
  padding: 1rem;
  opacity: 0.8;
  box-shadow: 2px -2px 6px var(--color-primary-200), -2px 2px 6px var(--color-primary-200);
}
.option-img {
  flex-direction: column;
  justify-self: center;
  width: 10rem;
  aspect-ratio: 1/1;
}
.option-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.option-text {
  flex-flow: column nowrap;
  width: 100%;
  height: 6rem;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.option-text p {
  height: 100%;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .container {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
  section {
  padding: 0;
}
}
