header {
  position: relative;
  width: 100%;
}
.banner {
  box-shadow: 0 8px 15px var(--color-bg-200);
  width: 100%;
  aspect-ratio: 16/9;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span {
  position: relative;
  display: block;
  width: 100%;
  height: 4rem;
  background-color: var(--color-tertiary-100);
  z-index: 50;
}

/* .spacing-color {
  background-image: linear-gradient(90deg, var(--color-primary-300) 50%, var(--color-tertiary-100) 50%);
} */

@media screen and (max-width: 900px) {
  span {
    height: 8rem;
  }
  .banner {
    aspect-ratio: 1/1;
  }
  .banner img {
    object-fit: fill;
  }
}
