header {
  position: relative;
  width: 100%;
}
.banner {
  box-shadow: 0 8px 15px var(--color-bg-300);
  width: 100%;
  aspect-ratio: 16/9;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span {
  position: relative;
  display: block;
  width: 100%;
  height: 4rem;
  background-color: var(--color-tertiary-100);
  z-index: 50;
}

.spacing-color {
  background-image: linear-gradient(90deg, var(--color-tertiary-100) 50%, var(--color-bg-200) 50%);
}

@media screen and (max-width: 860px) {
  .banner {
    aspect-ratio: 4/3;
  }
  .banner img {
    object-fit: fill;
  }
  span {
    height: 5rem;
  }
}
