.galery-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.2rem;
}

.pagination span {
  border: 1px solid black;
  flex: 0 1 2rem;
  height: max-content;
  text-align: center;
  cursor: pointer;
  padding: 0.4rem 0;
  transition: background-color 0.2s, color 0.2s;
}

.pagination span:hover {
  background-color: var(--color-secondary-200);
}

.pagination span.active {
  background-color: var(--color-bg-700);
  color: #fff;
  border-color: var(--color-border-500);
  font-weight: bold;
}

.pagination span.dots {
  cursor: default;
  background: var(--color-bg-200);
  border: 1px solid var(--color-dark-100);
  color: var(--color-dark-100);
  pointer-events: none;
  opacity: 0.7;
}
/* @media screen and (max-width: 620px) {
 
} */
