.blog-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.blog-item {
  height: 8rem;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid var(--color-border-200);
  border-left: 10px solid var(--color-primary-600);
  background: var(--color-tertiary-100);
  border-radius: 1rem 0.2rem 0.2rem 1rem;
  box-shadow: -4px 0px 6px var(--color-bg-500);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s all linear;
}
.blog-item:hover {
  background: var(--color-tertiary-200);
  box-shadow: -4px 0px 6px var(--color-secondary-300);
  scale: 1.05;
}
.item-head {
  flex: 0 1 17rem;
  height: 100%;
  position: relative;
  padding: 0.5rem;
}
.item-head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.item-text {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: start center;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
  gap: 1rem;
  overflow: hidden;
}
.item-text h3 {
  width: 100%;
}

.item-text p {
  width: 100%;
  height: 100%;
  text-align: left;
}
@media screen and (max-width: 620px) {
  .blog-dashboard {
    gap: 2rem;
  }
  .blog-item {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
  .item-head {
    flex-basis: 70%;
  }
  .item-text {
    padding: 0.5rem;
  }
  .item-text h3 {
    text-align: center;
    margin: 0 auto;
  }
}
