section {
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem;
}

form {
  width: 70%;
  display: grid;
  place-items: center center;
  padding: 2rem 1rem;
  margin: auto;
  border: 1px solid var(--color-border-200);
  border-radius: 1rem;
  background: var(--color-tertiary-100);
  opacity: 0.8;
  box-shadow: inset 2px 2px 6px var(--color-dark-300), inset -2px -2px 6px var(--color-dark-300);
}

quill-editor {
  background: #ffffff;
  height: 30rem;
}
#editor {
  background-color: #ffffff;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  height: fit-content;
}

.input-wrap {
  width: 80%;
  padding-inline: 1rem;
  height: 2rem;
  position: relative;
}

.input-wrap input {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 1rem;
  border: 1px solid var(--color-border-200);
  border-radius: 4px;
  background: none;
  font-size: 1rem;
  background-color: var(--color-primary-100);
  opacity: 0.7;
}

.input-wrap label {
  position: absolute;
  top: 50%;
  left: 1rem;
  font-size: 1rem;
  background-color: transparent;
  padding: 0 0.3rem;
  color: var(--color-dark-300);
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  z-index: 200;
}

.input-wrap input:focus + label,
.input-wrap input:not(:placeholder-shown) + label {
  top: -0.8rem;
  left: 0.8rem;
  font-size: 0.8rem;
  color: var(--color-secondary-700);
}

input:not(:placeholder-shown):invalid {
  outline: 2px solid var(--color-primary-900);
  box-shadow: 0 0 8px 2px var(--color-primary-700);
}
input:focus {
  outline: 1px solid var(--color-secondary-900);
  box-shadow: 0 0 4px var(--color-dark-100);
}
