<form [formGroup]="imgForm" (ngSubmit)="onSubmit()" id="form-img">
  <div class="form-container">
    <h2>Agregar Imagen</h2>

    <input type="hidden" formControlName="id" />

    <!-- TÍTULO / ALT -->
    <div class="input-wrap">
      <input type="text" formControlName="alt" id="alt" placeholder=" " />
      <label for="alt">Título</label>

      @if (alt.invalid && (alt.dirty || alt.touched)) {
        <p class="error">
          @if (alt.errors?.['required']) { El título es obligatorio. }
          @if (alt.errors?.['minlength']) { Mínimo 5 caracteres. }
        </p>
      }
    </div>

     <!-- IMAGEN -->
    <div class="input-wrap">
      <app-image-picker 
        [imagePreview]="imageBase64()"
        (imageSelected)="onImageSelected($event)" >
        Seleccionar imagen para BLOG
      </app-image-picker>

      <!-- validaciones -->
      @if (src.invalid && (src.dirty || src.touched)) {
        <p class="error">
          @if (src.errors?.['required']) { La imagen es obligatoria. }
        </p>
      }
    </div>

    <!-- DESCRIPCIÓN -->
    <div class="input-wrap">
      <input
        type="text"
        formControlName="description"
        id="description"
        placeholder=" "
      />
      <label for="description">Descripción</label>

      @if (description.invalid && (description.dirty || description.touched)) {
        <p class="error">
          @if (description.errors?.['required']) {
            La descripción es obligatoria.
          }
          @if (description.errors?.['minlength']) {
            Mínimo 10 caracteres.
          }
        </p>
      }
    </div>

    <app-btn
      [size]="'large'"
      type="submit"
      [disabled]="imgForm.invalid"
    >
      Subir Nueva Imagen
    </app-btn>
  </div>
</form>
