.scroll-view {
    transform: scale(0.5);
    filter: brightness(0.5);
    opacity: 0.5;

    transition:
      transform 0.6s ease,
      filter 0.6s ease,
      opacity 0.6s ease;
}

.scroll-view.in-view {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
}
