.scroll-view{
    animation-name: scroll;
    view-timeline-name: --reveal;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 10% cover 50%;
}

@keyframes scroll{
    from{
        transform: scale(.5);
        filter: brightness(.5);
        opacity: .5;
    }
    to {
        transform: scale(1);
        filter: brightness(1);
        opacity: 1;
    }
}