section {
  width: 100%;
  height: fit-content;
  padding: 3rem 1rem;
  display: grid;
  place-items: start center;
}
.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.blog-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.blog-item {
  height: 6rem;
  width: 100%;
  border: 1px solid var(--color-border-200);
  border-left: 10px solid var(--color-primary-600);
  background: var(--color-tertiary-100);
  border-radius: 1rem 0.2rem 0.2rem 1rem;
  box-shadow: -4px 0px 6px var(--color-bg-500);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0.8;
}
.item-head {
  flex: 0 0 8rem;
  height: 100%;
  position: relative;
  padding: 0.5rem;
}
.item-head img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item-text {
  flex: 1 0 60%;
  height: 100%;
  display: grid;
  place-items: center start;
  padding: 0 1rem;
  overflow: hidden;
}
.item-text p {
  width: 90%;
}
@media screen and (max-width: 620px) {
  .blog-item {
    height: 10rem;
  }
}
