/* * {
  outline: 1px dashed red;
} */
.container {
  width: 90%;
  height: 100%;
  padding: 1rem;
  margin: 2rem auto;
}
section {
  padding: 1rem;
}


@media screen and (max-width: 620px) {
  .container {
     width: 100%;
     padding: 0.5rem;
   }
   section{
    padding: .5rem;
   }

}
