
form {
  width: 80%;
  padding: 2rem 1rem;
  margin: 0 auto;
  border: 1px solid var(--color-border-200);
  background: var(--color-bg-100);
  opacity: 0.9;
  text-align: center;
  position: relative;
  box-shadow:
    inset 2px 2px 6px var(--color-dark-300),
    inset -2px -2px 6px var(--color-dark-300);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 2rem;
}

.input-wrap {
  width: 100%;
  min-height: 2rem;
  position: relative;
  padding-bottom: 1.2rem;
}

.input-wrap input,
textarea {
  width: 100%;
  height: 2rem;
  position: relative;
  z-index: 100;
  padding: 0 1rem;
  border: 1px solid var(--color-border-300);
  background-color: var(--color-blank);
  border-radius: 4px;
  font-size: 1rem;
  opacity: 0.5;
}

.input-wrap label {
  position: absolute;
  top: 30%;
  left: 1rem;
  font-size: 1rem;
  color: var(--color-dark-300);
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.input-wrap input:focus + label,
.input-wrap input:not(:placeholder-shown) + label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.8rem;
  color: var(--color-secondary-700);
}

/* FIELDSET ICONOS */
.fieldset-wrap{
  width: 100%;
  min-height: 6rem;
  position: relative;
}

.icon-fieldset {
  border: 1px solid var(--color-dark-100);
  border-radius: .6rem;
  padding-inline: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

.icon-fieldset legend {
  padding: 0 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.icon-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: space-evenly;
  padding: .5rem;
}

.icon-item {
  position: relative;
  width: 6rem;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-flow: column nowrap;
}
.icon-item span{
  position: absolute;
  z-index: 600;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.icon-item input[type="radio"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.icon-mark {
  position: absolute;
  inset: 0;
  border-radius: .6rem;
  border: 1px solid var(--color-border-300);
  background: var(--color-bg-100);
  transition: all .3s ease;
}

.icon-mark img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  pointer-events: none;
}

/* CHECK */
.icon-mark::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 23px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg) scale(0);
  opacity: 0;
  border-right: 6px solid var(--color-tertiary-400);
  border-bottom: 6px solid var(--color-tertiary-400);
  transition: all .3s ease;
}

.icon-item input:checked + .icon-mark {
  background: color-mix(in srgb, var(--color-dark) 80%, transparent);
  border-color: transparent;
  animation: jelly .6s ease;
}

.icon-item input:checked + .icon-mark::after {
  opacity: 1;
  transform: translate(-50%, -60%) rotate(45deg) scale(1);
}

/* ANIMACION */
@keyframes jelly {
  30% { transform: scale(1.25, .75); }
  40% { transform: scale(.75, 1.25); }
  50% { transform: scale(1.15, .85); }
  65% { transform: scale(.95, 1.05); }
  75% { transform: scale(1.05, .95); }
}

/* ERRORES */
.error {
  font-size: 0.8rem;
  color: var(--color-danger);
  position: absolute;
  right: 0;
}

@media screen and (max-width: 620px) {
  form {
    width: clamp(25rem, 50rem, 95vw);
    padding: 0;
  }
}
