<form [formGroup]="destacadosForm" (ngSubmit)="onSubmit()" id="form-img">
  <div class="form-container">
    <h2>Agregar Destacados</h2>

    <!-- id provicional  -->
    <div class="input-wrap">
      <input type="text" formControlName="id" id="id" placeholder=" " />
      <label for="id">ID</label>
      <!-- validaciones -->
      @if (id.invalid && (text.dirty || id.touched)) {
      <p class="error">@if (id.errors?.['required']) { El ID es obligatorio. }</p>
      }
    </div>

    <div class="input-wrap">
      <input type="text" formControlName="img" id="img" placeholder=" " />
      <label for="img">URL imagen</label>
      <!-- validaciones -->
      @if (img.invalid && (img.dirty || img.touched)) {
      <p class="error">
        @if (img.errors?.['required']) { La URL es obligatoria. } @if (img.errors?.['pattern']) {
        Debe ser una URL válida. }
      </p>
      }
    </div>

    <div class="input-wrap">
      <input type="text" formControlName="text" id="text" placeholder=" " />
      <label for="text">texto</label>

      <!-- validaciones -->

      @if (text.invalid && (text.dirty || text.touched)) {
      <p class="error">
        @if (text.errors?.['required']) { El TÍTULO es obligatorio. } @if
        (text.errors?.['minlength']) { Mínimo 8 caracteres. }
      </p>
      }
    </div>
    <app-btn [size]="'large'" type="submit" [attr.disabled]="destacadosForm.invalid">
      {{ onEdit() ? 'Actualizar Destacados' : 'Subir Nuevo Destacado' }}
    </app-btn>



  </div>
</form>
