
footer {
  position: relative;
  width: 100%;
  min-height: 8rem;
  padding: 0.5rem;
  display: grid;
  place-items: center;
  background: linear-gradient(33deg, var(--color-primary-200) 40%, var(--color-primary-400) 60%);
  margin-top: 2rem;
  border-radius: 5rem 5rem 0 0;
  box-shadow: 0 -2px 10px var(--color-dark-200);
}
.top-btn {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-secondary-300);
  border: 1px solid var(--color-tertiary-600);
  box-shadow: 1px 1px 4px var(--color-dark-200);
  transition: 0.2s linear all;
  text-align: center;
}
.top-btn small {
  height: 0px;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}
.top-btn:hover {
  scale: 1.2;
  box-shadow: 2px 4px 6px var(--color-dark-200);
}
.top-btn:hover small {
  opacity: 1;
}
.top-btn img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(1px 1px 1px var(--color-primary-300));
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: auto;
  width: 100%;
}

.foot-left {
  width: 50%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: row wrap;
  text-align: center;
  gap: 0.5rem;
}
.logo {
  display: grid;
  place-items: start center;
  width: 100%;
}



.logo-img {
  width: 8rem;
}

.foot-text {
  width: 90%;
  margin: 0 auto;
}

.foot-left img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 1px 1px var(--color-dark-200));
}
.foot-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rr-ss {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-flow: column nowrap;
  padding: 1rem;
  margin: 0 auto;
}
