<footer>
  <span (click)="scrollToTop()" class="top-btn">
    <img src="/icon-toparrow.svg" alt="" />
    <small>Ir Arriba</small>
  </span>
  <div class="container">
    <div class="foot-left">
      <!-- <h6>logo pendiente</h6> -->
      <div class="logo">
        <div class="logo-img">
          <img src="/logo azucarados.svg" alt="" />
        </div>
        <div class="logo-text">
          <h4>Azucarados Córdoba</h4>
          <small>derechos reservados ©</small>
        </div>
      </div>
    </div>
    <div class="foot-right">
      <div class="rr-ss">
        <h3>Redes Sociales</h3>
        <app-rrss />
      </div>
    </div>
  </div>
  <div class="foot-text">
    <p>
      © 2025 Diseño WEB por Leonardo Ismael Hidalgo. Todos los derechos reservados a Azucarados
      Córdoba. Agradecimientos especiales a la
      <a href="https://www.compromiso.org" target="_blank"><strong>Fundación Compromiso</strong></a>
      y <a href="https://www.potrerodigital.org" target="_blank"><strong>Potrero Digital</strong></a
      >.
    </p>
  </div>
</footer>
