section {
  padding: 3rem 1rem;
  width: 100%;
  height: fit-content;
  position: relative;
  display: grid;
  place-items: center;
  gap: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

ul li {
  margin-left: 2rem;
  color: var(--color-primary-900);
}
ul li p{
  color: var(--color-dark-500);
}

.container {
  width: 80%;
  height: fit-content;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.text-float {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.donations-table {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table-title {
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-dark);
}

.table-wrapper {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--color-bg-100);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-dark-300);
  font-weight: 600;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 1rem;
  align-items: center;
  border-top: 1px solid var(--color-border);
  background: var(--color-blank);
  transition: background 0.3s ease;
  margin-bottom: 1rem;
}

.table-row:hover {
  background: var(--color-primary-200);
}

.col {
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 0.95rem;
  color: var(--color-dark-200);
}

.col.item {
  font-weight: 600;
  padding: 2rem;
  display: grid;
  place-items: center;
  text-align: start;
}

.col.image img {
  width: 10rem;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.75rem;
  border: 2px solid var(--color-border-200);
}

.col.description {
  line-height: 1.4;
  text-align: justify;
}


@media (max-width: 768px) {
  .table-header {
    display: none;
  }

  .table-row {
    grid-template-columns: 1fr;
    gap: 0.75rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .col {
    font-size: 0.95rem;
    gap: 1rem;
  }

  .col.item::before {
    content: "Artículo";
    font-weight: 600;
    color: var(--color-primary-700);
    display: block;
  }

  .col.description::before {
    content: "Descripción";
    font-weight: 600;
    color: var(--color-primary-700);
    display: block;
  }

  .col.image {
    justify-content: center;
  }
  .col.image img {
    width: 80%;
  } 
}


@media (max-width: 768px) {
  section {
    padding: 0.5rem;
    margin: 1rem auto;
  }
  .container {
    padding-block: 0;
    width: 100%;
    margin: 0;
  }
}
