<app-header [imgBanner]="'/banners/banner-donacion.png'" [spacingColor]="true" />
<section>
  <span class="spacing"></span>
  <div class="container">
    <div class="text-float">
      <h2>Donaciones de Medicamentos e Insumos</h2>
      <app-text-float img="/inyeccion perro.webp" side="left">
        <ng-template #content>
          <p>
            En nuestra comunidad nos apoyamos constantemente y trabajamos de forma solidaria en la
            búsqueda y gestión de donaciones, es por eso que tu ayuda puede marcar una gran
            diferencia.
            <br /><br />
            Debido a la diabetes, nuestras mascotas necesitan medicación e insumos de forma diaria y
            permanente, lo que muchas veces representa un costo difícil de afrontar para algunas
            familias.
            <br /><br />
            <strong>Muy importante:</strong> los insumos que utilizan nuestros peluditos son los
            mismos que usan las personas, y por ello es que aceptamos donaciones de:
          </p>
          <br />
          <ul>
            <li>
              <p><strong>Insulinas (de diferentes tipos y presentaciones)</strong></p>
            </li>
            <li>
              <p><strong>Glucómetros</strong></p>
            </li>
            <li>
              <p><strong>Tiras reactivas</strong></p>
            </li>
            <li>
              <p><strong>Agujas</strong></p>
            </li>
            <li>
              <p><strong>Lancetas</strong></p>
            </li>
            <li>
              <p><strong>Lapicera de punción</strong></p>
            </li>
            <li>
              <p><strong>Otros medicamentos e insumos veterinarios</strong></p>
            </li>
          </ul>
          <br />
          <p>
            Si tenés sobrantes (incluso próximos a vencer o ya vencidos, según el caso), ¡pueden ser
            de gran ayuda para nosotros!
            <br><br>
            Ante cualquier duda, <strong>siempre podés consultarnos</strong> si un medicamento o
            insumo (veterinario o humano) puede ser útil para la comunidad. Toda ayuda suma y se
            transforma en bienestar para quienes más lo necesitan.
          </p>
        </ng-template>
      </app-text-float>
    </div>
    <span class="spacing"></span>
    <app-btn [size]="'large'" routerLink="/donaciones/formulario">
      DONAR MEDICAMENTOS O INSUMOS</app-btn
    >
  </div>

  <!-- Tabla Donaciones Frecuentes -->
  <section class="donations-table">
    <h3 class="table-title">Las donaciones frecuentes</h3>
    <div class="table-wrapper">
      <div class="table-header">
        <span>Artículo</span>
        <span>Imagen</span>
        <span>Descripción</span>
      </div>

      @for (donation of donations(); track donation.item) {
      <div class="table-row">
        <div class="col item">
          {{ donation.item }}
        </div>

        <div class="col image">
          <img [src]="donation.img" [alt]="donation.item" />
        </div>

        <div class="col description">
          <div [innerHTML]="donation.description">
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</section>
