section {
  padding: 3rem 1rem;
  width: 100%;
  height: fit-content;
  position: relative;
  display: grid;
  place-items: center;
  gap: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container {
  width: 80%;
  height: fit-content;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.text-float {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  section {
    padding: 0.5rem;
    margin: 1rem auto;
  }
  .container {
    padding-block: 0;
    width: 100%;
    margin: 0;
  }
}
