<app-header [imgBanner]="_imgBanner" [spacingColor]="_spacingColor" />
<section>
  <div class="container">
    <div class="text-float">
      <h2>Donaciones de Medicamentos e Insumos</h2>
      <div class="text-wrap bg-content">
        <img class="img-float" src="/inyeccion perro.webp" alt="" />
        <p>
          Estamos contanstantemente apoyandonos mutuamente y en la busqueda de donaciones. Te
          invitamos a que nos des una mano. Debido a la enfermedad nuestras mascotas necesitan
          diariamente de medicación para la diabetes, además de otros cuidados. Por eso aceptamos 2
          tipos de donaciones distintas.
        </p>
        <br />
        <p>
          La más importante de todas, <strong>se aceptan donaciones de medicamentos</strong> como la
          Insulinas, o distintos insumos como tiras reactivas, agujas, glucometros. En este sentido
          nuestras mascotas pueden usar las mismas insulinas e insumos que las personas, si tienen
          sobrantes o expirados, nosotros podemos darle uso. Tambien se requieren otros tipos de
          medicamentos, dado a que la diabetes atrae a otras complicaciones y enfermedades, por lo
          que siempre puedes consultar si un medicamento, veterinario o no, nos puede ser util.
        </p>
      </div>
    </div>
    <app-btn [size]="_size">DONAR MEDICAMENTOS</app-btn>
  </div>

  <div class="container">
    <h2>Donaciones de Dinero</h2>
    <div class="text-flex">
      <div class="img-flex">
        <img src="/donar.jpg" alt="" />
      </div>
      <div class="bg-content">
        <p>
          A veces con el tratamiento no es suficiente, se requiere de constante vigilancia y
          atención veterinaria, analisis y demás para asegurar la salud de nuestros pequeños. No
          siempre podemos con los gastos, por eso nuestro grupo cuenta con una
          <strong>caja de ahorro de emergencia</strong>, cuya finalidad es usarse en caso urgentes
          de algunos de nuestros integrantes cuando no tienen para alcanzar a pagar noche de
          internación, cirugías u otras cuestiones de urgencia inmediata.
        </p>
      </div>
    </div>
    <app-btn [size]="_size">DONAR EFECTIVO</app-btn>
  </div>
</section>
