<app-header [imgBanner]="'/banners/banner-donacion.png'" [spacingColor]="true" />
<section>
  <span class="spacing"></span>
  <div class="container">
    <div class="text-float">
      <h2>Donaciones de Medicamentos e Insumos</h2>
      <app-text-float img="/inyeccion perro.webp" side="left">
        <ng-template #content>
          <p>
            Estamos contanstantemente apoyandonos mutuamente y en la busqueda de donaciones. Te
            invitamos a que nos des una mano. Debido a la enfermedad nuestras mascotas necesitan
            diariamente de medicación para la diabetes
          </p>
          <br />
          <p>
            <strong>se aceptan donaciones de medicamentos</strong> como la Insulinas, o distintos
            insumos como tiras reactivas, agujas, glucometros. En este sentido nuestras mascotas
            pueden usar las mismas insulinas e insumos que las personas, si tienen sobrantes o
            expirados, ¡nosotros podemos darle uso!. Recuerda, siempre puedes consultar si un
            medicamento, veterinario o no, nos puede ser util.
          </p>
        </ng-template>
      </app-text-float>
    </div>
    <span class="spacing"></span>
    <app-btn [size]="'large'"
      (click)="enviarWhatsApp('Hola!, tengo medicamentos para la diabetes y me gustaría donarlos al grupo')" >
      DONAR MEDICAMENTOS O INSUMOS</app-btn>
    </div>

    <!-- Tabla Donaciones Frecuentes -->
<section class="donations-table">
  <h3 class="table-title">Las donaciones frecuentes</h3>
    <div class="table-wrapper">
      <div class="table-header">
        <span>Artículo</span>
        <span>Imagen</span>
        <span>Descripción</span>
      </div>

      @for (donation of donations(); track donation.item) {
        <div class="table-row">
          <div class="col item">
            {{ donation.item }}
          </div>

          <div class="col image">
            <img [src]="donation.img" [alt]="donation.item" />
          </div>

          <div class="col description">
            {{ donation.description }}
          </div>
        </div>
      }
    </div>
</section>

</section>
