.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

app-navbar {
  grid-area: 1 / 1 / 2 / 2;
}

main {
  width: 100%;
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}

app-footer {
  grid-area: 3 / 1 / 4 / 2;
  position: relative;
}
