.viewer {
  width: 100%;
  max-width: 95vw;
  height: auto;
  border: 1px solid var(--color-dark-100);
  background: var(--color-tertiary-100);
  padding: 1rem;
  box-shadow: 1px -1px 8px 4px var(--color-primary-100);
}
