.viewer {
  width: 100%;
  max-width: 95vw;
  height: auto;
  border: 1px solid var(--color-border-100);
  border-radius: 2rem 0 2rem 0;
  background: var(--color-blank);
  box-shadow: 1px -1px 4px 2px var(--color-border-100), 2px -2px 8px 4px var(--color-border-300);
  margin: 0 auto;
  padding: .1rem;
}
quill-view-html {
  display: block;
  margin: 0 auto;
  width: clamp(24rem, 100%, 98vw);
  padding: .5rem;
}

.viewer br {
  display: block;
  margin-bottom: 0.5rem;
}

.quill-gap {
  width: 100%;
}

.quill-gap.quill-gap-3 {
  height: 2rem;
}

.quill-gap.quill-gap-4 {
  height: 2.5rem;
}

.quill-gap {
  margin: 0.3rem auto;
}


@media screen and (max-width: 620px) {
 .viewer {
  padding: 0;
  max-width: 98vw;
}
quill-view-html {
  padding: .2rem;
}
}
