<div class="grid-parent">
  @for (blog of blogs(); track blog.id) {
  <div class="card">
    <img class="thumb" [src]="blog.img" [alt]="blog.title" />

    <div class="info">
      <span class="id">ID: {{ blog.id }}</span>
      <span class="id">{{ blog.title }}</span>
      @if (!onEdit()) {
      <button class="btn-delete" (click)="deleteBlog(blog.id, blog.title)">Eliminar</button>
      }
      @if (onEdit()) {
      <button class="btn-edit" (click)="getForId(blog.id)">editar</button>
      }
    </div>
  </div>
  }
</div>
