section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: .5rem;
  padding: .2rem auto;
}
.flex{
  padding: 0;
  margin: 0;
  width: 100%;
}

form {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
  padding: 0 auto;
  margin: 0 auto;
  border: 1px solid var(--color-border-200);
  border-radius: 1rem;
  background: var(--color-tertiary-100);
  opacity: 0.8;
  box-shadow: inset 2px 2px 6px var(--color-dark-300), inset -2px -2px 6px var(--color-dark-300);
}

quill-editor {
  background: #ffffff;
  height: 30rem;
  width: clamp(24rem, 60rem, 98vw);
}
#editor {
  background-color: #ffffff;
  width: clamp(24rem, 60rem, 95vw);
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: .5rem;
  height: fit-content;
}

@media screen and (max-width: 620px) {
  section{
    padding-inline: 0;
  }
}
