section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: .5rem auto;
}
.flex{
  padding: 0;
  margin: 0;
  width: 100%;
}

form {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
  padding: 2rem auto;
  margin-top: 2rem;
  margin: auto;
  border: 1px solid var(--color-border-200);
  border-radius: 1rem;
  background: var(--color-tertiary-100);
  opacity: 0.8;
  box-shadow: inset 2px 2px 6px var(--color-dark-300), inset -2px -2px 6px var(--color-dark-300);
}

quill-editor {
  background: #ffffff;
  height: 30rem;
  min-width: 15rem;
  max-width: 100vw;
  width: 100%;
}
#editor {
  background-color: #ffffff;
  max-width: 100%;
  width: 80vw;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  height: fit-content;
}

.input-wrap {
  width: 90%;
  padding-inline: 1rem;
  height: 2rem;
  position: relative;
}

.input-wrap input {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 1rem;
  border: 1px solid var(--color-border-200);
  border-radius: 4px;
  background: none;
  font-size: 1rem;
  background-color: var(--color-primary-100);
  opacity: 0.7;
}
