section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: .5rem;
  padding: .2rem auto;
}
.flex{
  padding: 0;
  margin: 0;
  width: 100%;
}
#editor {
  background-color: #ffffff;
  width: clamp(25rem, 90% + 10rem, 95vw);
}
quill-editor {
  background: #ffffff;
  width: 100%;
  height: 30rem;
}


.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: .5rem;
  height: fit-content;
}

@media screen and (max-width: 620px) {
  section{
    padding-inline: 0;
  }
}
