ul {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  list-style: none;
  gap: 1rem;
  padding: 0 1rem;
  margin: 1rem auto;
}
i {
  display: block;
  width: 2.5rem;
  aspect-ratio: 1/1;
  transition: 0.2s all linear;
  cursor: pointer;
}
i:hover {
  scale: 1.2;
  filter: drop-shadow(2px -2px 6px var(--color-primary-100));
}
i img {
  width: 100%;
  object-fit: cover;
}
