section {
  width: 100%;
  margin: 2rem auto;
}
h2{
  text-align: center;
}

.flex{
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
app-card{
  margin-bottom: 1rem;
}
