* {
  transition: all 0.3s ease;
  /* outline: 1px solid red; */
}
.btn-primary {
  position: relative;
  margin: auto;
  padding: 0.86rem 1.3rem;
  border: none;
  background: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 6px var(--color-dark-100));
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.btn-primary p {
  text-align: center;
}

.btn-xsmall {
  width: 10rem;
}
.btn-xsmall p {
  font-size: 0.9rem;
}

.btn-small {
  width: 12rem;
}
.btn-small p {
  font-size: 1rem;
}

.btn-medium {
  width: 16rem;
}
.btn-medium p {
  font-size: 1.2rem;
}

.btn-large {
  width: 26rem;
}

.btn-primary::before,
.btn-primary::after {
  content: '';
  position: absolute;
  border-radius: 0 1rem 0 1rem;
  transition: all 0.3s ease;
  background-color: var(--color-primary-100);
  z-index: -1;
}

.btn-primary::before {
  top: 0;
  right: 0;
  width: 3.15rem;
  height: 100%;
  background: var(--color-secondary-100);
  z-index: 100;
}

.btn-primary::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-border-100);
}

.btn-primary span {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--color-secondary-900);
  text-shadow: 1px 0 1px var(--color-dark-100);
  z-index: 100;
  flex: 0 0 80%;
}

.btn-primary svg {
  position: absolute;
  top: 50%;
  right: calc(3.15rem / 3);
  fill: none;
  stroke: var(--color-dark-100);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: translatey(-50%);
  transition: all 0.3s ease;
  z-index: 300;
  flex: 0 0 4rem;
}

.btn-primary:hover::before {
  width: 100%;
  background: var(--color-secondary-100);
  z-index: 50;
}

.btn-primary:hover::after {
  border: 2px solid var(--color-primary-400);
  box-shadow: 0px 2px 4px var(--color-dark-300);
}

.btn-primary:hover svg {
  top: 50%;
  right: calc(3.15rem / 1.5);
}
.btn-primary:hover span {
  color: #ffffff;
}

.btn-primary:active {
  transform: scale(0.95);
}
