section {
  padding: 1rem;
  width: 100%;
  display: block;
  text-align: center;
  margin: 2rem 0;
  overflow: hidden;
}
.container {
  padding: 0.5rem;
  columns: 230px;
  display: block;
  margin: 1rem 0;
}
.wrap-photo {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.container > .wrap-photo:nth-child(even) img {
  border-radius: 0 1rem 0 1rem;
}
.container > .wrap-photo:nth-child(odd) img {
  border-radius: 1rem 0 1rem 0;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid var(--color-border);
  filter: drop-shadow(1px 2px 4px var(--color-dark-200));
  transition: 0.3s all ease-in-out;
}
img:hover {
  scale: 1.5;
  z-index: 500;
}
