section {
  width: 100%;
  display: block;
  text-align: center;
  margin: 2rem auto;
}
.container {
  columns: 250px;
  display: block;
  margin: 1rem auto;
}
.wrap-photo {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.container > .wrap-photo:nth-child(even) img {
  border-radius: 0 1rem 0 1rem;
}
.container > .wrap-photo:nth-child(odd) img {
  border-radius: 1rem 0 1rem 0;
} 

img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid var(--color-border);
  filter: drop-shadow(1px 2px 4px var(--color-dark-200));
  transition: 0.3s all ease-in-out;
}
img:hover {
  scale: 1.2;
  z-index: 500;
}

@media screen and (max-width: 620px) {
.container {
  columns: 150px;
}
  
}
