.image-picker {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}
.flex{
  padding: 0;
  gap: .8rem;
}

.preview {
  width: 100%;
  max-width: 220px;
  aspect-ratio: 1 / 1;
  border: 3px dashed var(--color-border-200);
  border-radius: 6px;
  background: var(--color-primary-100);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.preview.empty {
  background: var(--color-tertiary-100);
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.placeholder {
  font-size: 0.8rem;
  color: var(--color-text-200);
  opacity: 0.8;
}

.upload-btn {
  background: var(--color-secondary-400);
  color: var(--color-blank);
  padding: 0.35rem 0.9rem;
  box-shadow: 2px 2px 8px var(--color-dark-100);
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 30%;
  height: 3rem;
  text-align: center;
  display: grid;
  place-items: center;

}

.upload-btn:hover {
  background: var(--color-secondary-400);
}

.error {
  font-size: 0.75rem;
  color: var(--color-danger);
}
