@import '../src/app/shared/styles/_variables.css';
@import '../src/app/shared/styles/_font.css';
@import '../src/app/shared/styles/_normalize.css';


/* * {
  outline: dashed 1px red;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg-100);
  min-height: 100dvh;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url('/imabg.jpg');
  background-repeat: repeat;
  background-size: 20rem 20rem;
  position: fixed;
  background-size: cover;
  background-position: center;
  transform: translateZ(-1px);
  z-index: -1;
  opacity: 0.2;
}

.spacing {
  position: relative;
  display: block;
  width: 100%;
  height: 5rem;
  background: transparent;
  z-index: 50;
}

section {
  padding: 2rem 1rem;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 1rem;
}


@media screen and (max-width: 620px) {

  app-btn {
    scale: 0.8;
  }
  section {
    padding: 1rem 0.5rem;
  }
}
