@import '../src/app/shared/styles/_variables.css';

/* * {
  outline: dashed 1px red;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.8rem, 1rem + 0.1vw, 1.8rem);
  font-family: 'Winky Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg-100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url('/imabg.jpg');
  background-repeat: repeat;
  background-size: 20rem 20rem;
  position: fixed;
  background-size: cover;
  background-position: center;
  transform: translateZ(-1px);
  z-index: -1;
  opacity: 0.2;
}

.spacing {
  position: relative;
  display: block;
  width: 100%;
  height: 5rem;
  background: transparent;
  z-index: 50;
}

section {
  padding: 2rem 1rem;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary-300);
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 1px 0 1px var(--color-dark-200);
  font-style: oblique;
}
h1 {
  font-size: 4rem;
  color: var(--color-secondary-600);
  text-shadow: 0 1px 2px var(--color-dark-100);
}
h2 {
  font-size: 2rem;
}
p {
  text-align: justify;
}
strong {
  color: var(--color-secondary-500);
  text-shadow: 1px 0 1px var(--color-primary-100);
  font-size: 1.1rem;
  letter-spacing: 0.08rem;
}
@media screen and (max-width: 620px) {
  html {
    font-size: 14px;
  }
  app-btn {
    scale: 0.8;
  }
  h1 {
    font-size: 3rem;
  }
  section {
    padding: 1rem 0.5rem;
  }
}
