span {
  display: block;
  height: 5rem;
}
.container {
  margin: 1rem auto;
  width: 80%;
  height: fit-content;
  padding: 1rem;
}
@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
}
