<section>
  <span class="spacing"></span>
  <div class="container">
    <app-text-float side="right" img="/logo azucarados.svg">
      <ng-template #content>
        <h2>contacta con nosotros</h2>
        <p>
          Puedes contactarte a traves de alguna de nuestras redes sociales, o si lo prefieres,
          rellenar el formulario de conacto más abajo para que nosotros nos comuniquemos contigo.
        </p>
        <app-rrss />
      </ng-template>
    </app-text-float>
  </div>
  <br />
  <form-contact></form-contact>
</section>
