nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 200;
  display: grid;
  place-items: center;
}

h4{
  font-size: .8rem;
}

a {
  color: var(--color-secondary-700);
  padding: 0 0.3rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.1s linear all;
  text-shadow: 1px 0 var(--color-border-100);
}

.linked {
  outline: 2px solid var(--color-secondary-300);
  background-color: var(--color-tertiary-100);
  border-radius: 0.2rem;
  font-size: 1.1rem;
  color: var(--color-dark-100);
}

.nav-container {
  position: relative;
  height: 100%;
  width: 90%;
  background: linear-gradient(33deg, var(--color-primary-200) 40%, var(--color-primary-400) 60%);
  border: 1px solid var(--color-dark);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  place-items: center;
  box-shadow: 0px 2px 10px var(--color-dark-300), inset 0px 1px 3px var(--color-dark-100);
}
.logo {
  width: 4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: nowrap;
  gap: 0.5rem;
  color: var(--color-secondary-700);
  text-align: center;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 1px 1px var(--color-dark-200));
}

.list-item {
  min-width: 2rem;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

.nav-right .list-content {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  gap: 0.5rem;
}

/* menu hamurguesa boton */
.menu-burguer {
  display: none;
  width: 40px;
  height: 40px;
  margin-left: 4rem;
  padding: 10px;
  border-radius: 0.3rem;
  transition: 0.2s linear all;
}
.open-burguer {
  border: 1px solid var(--color-bg-100);
  background-color: var(--color-primary-100);
  box-shadow: inset 1px 1px 2px var(--color-bg-200), inset -1px -1px 2px var(--color-bg-200);
}
.closed-burguer {
  border: 1px solid var(--color-dark-200);
  background-color: var(--color-secondary-100);
  box-shadow: 1px 1px 4px var(--color-secondary-800), -1px -1px 4px var(--color-secondary-800);
}
.menu-burguer button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 30%;
  border: none;
}
.menu-burguer button > span {
  display: block;
  height: 1px;
  width: 100%;
  border-top: 2px solid black;
}

/* menu hamurguesa desplegado */
.menu-container {
  height: 100%;
  position: relative;
}
.menu-content {
  position: absolute;
  padding: 1rem;
  top: 100%;
  right: 0;
  width: 100%;
  filter: brightness(90%);
  box-shadow: inset 0px -2px 4px var(--color-secondary-700);
  border-radius: 0.3rem 0.3rem 1rem 1rem;
  background: linear-gradient(15deg, var(--color-primary-200) 40%, var(--color-primary-400) 60%);
  transition: ease-in-out 0.2s all;
}

.menu-content ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  transition: linear 0.2s all;
  padding-top: 1.3rem;
  height: 100%;
}

.menu-content ul li {
  border: 1px solid var(--color-border-200);
  width: 90%;
  height: fit-content;
  text-align: center;
  border-radius: 0.3rem;
  padding: 5px;
  background-color: var(--color-tertiary-100);
}

.menu-content ul li a {
  color: var(--color-dark-300);
  scale: 0.9;
}

.closed-menu {
  height: 0;
  visibility: hidden;
}
.closed-menu ul {
  visibility: hidden;
  opacity: 0;
}
.active-menu {
  display: block;
  height: 20rem;
}
.active-menu ul {
  opacity: 1;
}

@media screen and (max-width: 1020px) {
  nav {
    height: 8rem;
  }
  .nav-right .list-content {
    display: none;
  }
  .menu-burguer {
    display: block;
    width: 32px;
    height: 32px;
  }
  .nav-container {
    width: 100%;
    grid-area: 1 / 1 / 2 / 13;
    padding: 0 1.2rem;
  }
  .menu-content {
  height: 23rem;
  }
}
