<nav>
  <div class="nav-container">
    <div class="nav-left">
      <div class="logo" routerLink="/home" (click)="isOpen.set(false)">
        <img src="/logo azucarados.svg" alt="" />
        <!-- <h4><strong>Mascotas Diabéticas</strong></h4> -->
      </div>
    </div>
    <div class="nav-right">
      <ul class="list-content">
        <li class="list-item">
          <a routerLink="/home" fragment="about-us" routerLinkActive="linked"> Sobre Nosotros </a>
        </li>
        <li class="list-item">
          <a routerLink="/donaciones" routerLinkActive="linked"> Donaciones </a>
        </li>
        <li class="list-item">
          <a routerLink="blog" routerLinkActive="linked"> Blog </a>
        </li>
        <li class="list-item">
          <a routerLink="nuestros-peludos" routerLinkActive="linked"> Nuestros Guerreros </a>
        </li>
        <li class="list-item">
          <a routerLink="contacto" routerLinkActive="linked"> Contacto </a>
        </li>

        @if (authService.isLogged()) {
          <li class="list-item">
              <a routerLink="admin" routerLinkActive="linked"> Modo Edición</a>
          </li>
          <li class="list-item">
              <a (click)="logOut()"> salir </a>
          </li>
        } 
      </ul>

      <!-- menu hamburguesa celular -->
      <div class="menu-container">
       
          <span class="menu-info">MENU</span>
      
        <div
          class="menu-burguer"
          [ngClass]="{ 'open-burguer': isOpen(), 'closed-burguer': !isOpen() }"
          (click)="isOpen.set(!isOpen())"
        >
          <button><span></span><span></span><span></span></button>
        </div>

        <!-- desplegable de menu hamburguesa -->
      </div>
    </div>
    <div class="menu-content" [ngClass]="{ 'active-menu': isOpen(), 'closed-menu': !isOpen() }">
      <ul>
        <li routerLink="/home"  fragment="about-us" routerLinkActive="linked" (click)="isOpen.set(false)" >
          <a  > SOBRE NOSOTROS </a>
        </li>
        <li routerLink="/donaciones" routerLinkActive="linked"  (click)="isOpen.set(false)">
          <a  > DONACIONES </a>
        </li>
        <li routerLink="blog" routerLinkActive="linked" (click)="isOpen.set(false)">
          <a > BLOG </a>
        </li>
        <li routerLink="nuestros-peludos" routerLinkActive="linked" (click)="isOpen.set(false)" >
          <a > NUESTROS GUERREROS </a>
        </li>
        <li routerLink="contacto" routerLinkActive="linked" (click)="isOpen.set(false)">
          <a > CONTACTO </a>
        </li>

        @if (authService.isLogged()) {
          <li routerLink="admin" routerLinkActive="linked" (click)="isOpen.set(false)">
              <a >MODO EDICIÓN</a>
          </li>
          <li (click)="logOut()" (click)="isOpen.set(false)" >
              <a > salir </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
