.toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translate(-50%, 20px);
  scale: 1.2;
}

.toast {
  padding: 12px 18px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  animation: fadeIn 0.3s ease;
  opacity: 0.95;
  margin-bottom: .4rem;
}

.toast.success {
  background-color: #2ecc71;
}
.toast.error {
  background-color: #e74c3c;
}
.toast.info {
  background-color: #3498db;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
